<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86339282228-upiph6qghmnl3r0u310nl5jjdfg1h9d9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86339282228-upiph6qghmnl3r0u310nl5jjdfg1h9d9</string>
	<key>API_KEY</key>
	<string>AIzaSyA47Ikgjb7s6W5HbL8uG4yVmDiZ5s_0WUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>86339282228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoRun</string>
	<key>PROJECT_ID</key>
	<string>autorun-897a0</string>
	<key>STORAGE_BUCKET</key>
	<string>autorun-897a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86339282228:ios:b393b9de8470bb7ad87161</string>
</dict>
</plist>